Novels/
.ipynb_checkpoints/Summary_Generator-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Downloader-checkpoint.py
Summaries/.ipynb_checkpoints/Chapter_Downloader-checkpoint.py
.ipynb_checkpoints/EDA_Visuals-checkpoint.ipynb
10k books/books_and_genres.csv
Datasets/books_and_genres.csv
Datasets/books.csv
